// Dark mode

@media (prefers-color-scheme: dark) {
  body {
    background: $inky;
    color: $hazey;
  }

  h1 {
    color: $cloudy;
    text-shadow:
    0 0 0.033em $inky,
    0 0 0.08em $inky,
    0 0 0.1em $hot,
    0 0 0.2em $cold,
    0 0 0.3em $hot,
    0 0 1em $cold,
    0 0 1.5em $hot;
  }
  h2 {
    color: lighten($smokey, 20);
    text-shadow:
    0 0 0.033em #000,
    0 0 0.08em #000,
    0 0 0.1em #000,
    0 0 0.2em $cold,
    // 0 0 0.3em #000,
    0 0 1em $cold,
  }

  img {
    opacity: .75;
    @include transition-regular;

    &:hover {
      opacity: .85;
    }
  }

  hr {
    background: linear-gradient(to right, $cold, $inky);
  }

  .listcard {
    background: rgba($smokey, .25);
    box-shadow: none;
  }

  .wrp-site-footer {
    background: rgba($smokey, .15);
  }

  .sitenavigation {

    li {

      a {
        color: $foggy;
      }
    }
  }

  img, video, iframe {
    filter: invert(10%) hue-rotate(-15deg);
    opacity: .75;
        @include transition-regular;

        &:hover {
          opacity: .85;
        }
  }
}
