<footer class="sitefooter">
  <h4>Got some problems to solve? I’m happy to help.</h4>
  <div class="footerlinks">
    <a href="https://dribbble.com/nevermike" class="popit"><img src="{{ .Site.BaseURL }}/images/icons/dribbble.svg" alt="Check out my shots of Dribbble"></a>
    <a href="https://www.linkedin.com/in/michaelestok" class="popit"><img src="{{ .Site.BaseURL }}/images/icons/linkedin.svg" alt="Connect with me on LinkedIn"></a>
    <a href="mailto:michael@nevermike.com?subject=Hi%20Michael!" class="popit"><img src="{{ .Site.BaseURL }}/images/icons/email.svg" alt="Question or comments? Email me"></a>
  </div>
  <p>&copy; <script>document.write(new Date().getFullYear())</script> Michael Estok. All rights reserved.</p>
</footer>
